<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registracija</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
	<table th:replace="include/magic :: menu"></table>
		<br></br><br></br><br></br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			 
				<form autocomplete="off" action="#" th:action="@{${link}}"
					method="post" class="form-horizontal" role="form">
					<h2>Atkurk!!!</h2>
					<span th:utext="${message}" style="color:red"></span>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:object="${username}" th:value="${username}"
								th:disabled="${userDiss}" th:requered="${userReq}"
								name="username" placeholder="User name" class="form-control" />
							<input type="hidden" th:value="${username}" 
								name="username1"  class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:object="${email}" th:value="${email}" th:disabled="${emailDiss}" 
								th:requered="${emailReq}" name="email" placeholder="Email"
								class="form-control" /> 
							<input type="hidden"
								 th:value="${email}"
								 name="email1"
								class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:disabled="${newDiss}"
								th:requered="${!newDiss}" name="newpass" placeholder="New pass"
								class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:disabled="${conDiss}"
								th:requered="${!conDiss}" name="conpass"
								placeholder="Confirm pass" class="form-control" />
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Vykdyti</button>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>

</body>
</html>