<div th:fragment="menu" id="menu-outer" style="margin-top:10px;width:100%" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="inner" style="display:inline-block"><form th:action="@{/mainMenu}" method="get">
        <button class="btn btn-md btn-info" name="home"
            type="Submit">Pagrindinis</button>
    </form></div>

    <div class="inner" style="display:inline-block"><form th:action="@{/user/productInput}" method="get">
        <button class="btn btn-md btn-info" name="recipesbyproducts"
                type="Submit">Receptai pagal produktus</button>
    </form></div>
    <div class="inner" style="display:inline-block"><form th:action="@{/user/recipesByPopularity}" method="get">
        <button class="btn btn-md btn-info" name="recipesbypopularity"
                type="Submit">Populiariausi receptai</button>
    </form></div>
    <div class="inner" style="display:inline-block"><form th:action="@{/user/recipesByNewness}" method="get">
        <button class="btn btn-md btn-info" name="recipesbynewness"
                type="Submit">Naujausi receptai</button>
    </form></div>
     <div th:if="${userLevel != -1}" class="inner" style="display:inline-block"><form th:action="@{/activeUser/userEdit}" method="get">
         <button class="btn btn-md btn-info" name="userEdit"
                 type="Submit">Keisti profilį</button>
     </form></div>
    <div th:if="${userLevel != -1 and !hasList}" class="inner" style="display:inline-block"><form th:action="@{/activeUser/ProductListCreate}" method="get">
        <button class="btn btn-md btn-info" name="userEdit"
                type="Submit">Sukurti ingredientų sąrašą</button>
    </form></div>
    <div th:if="${userLevel != -1 and hasList}" class="inner" style="display:inline-block"><form th:action="@{/activeUser/ProductListEdit}" method="get">
        <button class="btn btn-md btn-info" name="userEdit"
                type="Submit">Redaguoti ingredientų sąrašą</button>
    </form></div>


    <div th:if="${userLevel == 1}" class="inner" style="display:inline-block"><form th:action="@{/admin/userlist}" method="get">
        <button class="btn btn-md btn-info" name="userlist"
            type="Submit">Vartotojai</button>
    </form></div>
    <div th:if="${userLevel == 1}" class="inner" style="display:inline-block"><form th:action="@{/admin/ingredientlistedit}" method="get">
        <button class="btn btn-md btn-info" name="ingredientlist"
            type="Submit">Ingredientai</button>
    </form></div>

    <div th:if="${userLevel == 1}" class="inner" style="display:inline-block"><form th:action="@{/admin/recipeCreate}" method="get">
        <button class="btn btn-md btn-info" name="recipeCreate"
                type="Submit">Kurti receptą</button>
    </form></div>
    <div th:if="${userLevel == -1}" class="inner" style="display:inline-block;float:right"><form th:action="@{/registration}" method="get">
        <button class="btn btn-md btn-danger" name="register"
                type="Submit">Registruotis</button>
    </form></div>
    <div th:if="${userLevel == -1}" class="inner" style="display:inline-block;float:right"><form th:action="@{/passreset}" method="get">
        <button class="btn btn-md btn-danger" name="passreset"
            type="Submit">Atkurti Slaptažoodį</button>
    </form></div>
    <div th:if="${userLevel == -1}" class="inner" style="display:inline-block;float:right"><form th:action="@{/login}" method="get">
        <button class="btn btn-md btn-danger" name="login"
                type="Submit">Prisijungti</button>
    </form></div>
    
    <div th:if="${userLevel != -1}" class="inner" style="display:inline-block;float:right"><form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger" name="registration"
            type="Submit">Atsijungti</button>
    </form></div>

</div>