<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <table th:replace="include/magic :: menu"></table>
    <br><br><br>
    <div style="margin-top:40px;font-size:25px">Receptai pagal produktus</div>
    <form method="get">
        <table id="t02" th:each="i : ${recipes}">
            <h4 th:text="${i.name}"></h4>
            <tr><a th:href="@{${'/user/recipeInfo/' + i.id}}">
                <img style="width: 30%" th:with="link=${'/image/' + i.id}" th:src="@{${link}}" /></a>
            </tr>
        </table>
    </form>
</div>
</body>
</html>